@model Ticket
@{
    ViewData["Title"] = "Details";
    var isDeveloper = User.IsInRole("Developer");
    var isProjectManager = User.IsInRole("ProjectManager");
    var isAdmin = User.IsInRole("Administrator");
}

<h1>Details</h1>

<div>
    <div>
    <h4>Ticket</h4>
    @if(isDeveloper || isAdmin || isProjectManager)
        {
        <a asp-action="ViewHistory" asp-route-ticketid=@Model.Id>Ticket History</a>
           
        }
    </div>
    <div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit Tikcet</a> |
    <a asp-action="Index" asp-route-projectid=@Model.Project.Id asp-route-projectname=@Model.Project.Name>Back to List</a>
</div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Title
        </dt>
        <dd class = "col-sm-10">
            @Model.Title
        </dd>
        <dt class = "col-sm-2">
           Description
        </dt>
        <dd class = "col-sm-10">
            @Model.Description
        </dd>
        <dt class = "col-sm-2">
            Created Date
        </dt>
        <dd class = "col-sm-10">
            @Model.Created
        </dd>
        <dt class = "col-sm-2">
            Updated
        </dt>
        <dd class = "col-sm-10">
            @Model.Updated
        </dd>
        <dt class = "col-sm-2">
            Project
        </dt>
        <dd class = "col-sm-10">
            @Model.Project.Name
        </dd>
        <dt class = "col-sm-2">
            TicketType
        </dt>
        <dd class = "col-sm-10">
            @Model.TicketType
        </dd>
        <dt class = "col-sm-2">
            TicketPriority
        </dt>
        <dd class = "col-sm-10">
            @Model.TicketPriority
        </dd>
        <dt class = "col-sm-2">
            TicketStatus
        </dt>
        <dd class = "col-sm-10">
            @Model.TicketStatus
        <dt class = "col-sm-2">
            Submitter
        </dt>
        <dd class = "col-sm-10">
            @Model.OwnerUser.UserName
        </dd>
        <dt class = "col-sm-2">
            Assigned Developer
        </dt>
        <dd class = "col-sm-10">
            @if(Model.AssignedToUser != null)
            {
                @Model.AssignedToUser.UserName    
            }
            
        </dd>

        <dt class = "col-sm-2">
            Attached Files
        </dt>
        <dd class = "col-sm-10">
                @{
                    var i = 0;
                }
            @foreach(var attachment in Model.TicketAttachments)
            {
                <a asp-action="Download"  class="btn btn-outline-info btn-sm" asp-route-attachmentId=@attachment.Id>@attachment.FilePath</a>   
                i++;
            }
        </dd>
    </dl>
</div>


<h4>Comment</h4>
<hr />
@foreach(var comment in Model.TicketComments)
{
  <p>
     @comment.Comment
  </p>
  <p style="font-size:1.3vw">written by @comment.User.UserName</p>
  <a asp-action="Edit" asp-controller="TicketComments" asp-route-id=@comment.Id>Edit</a>
      
  
<a asp-action="Delete" asp-controller="TicketComments" asp-route-id=@comment.Id>Delete</a>
     
  
  <hr />
}

<form asp-action="Create" asp-controller="TicketComments" asp-route-ticketid=@Model.Id>
    <textarea cols="50" name="comment" placeholder="Comment"></textarea></br>
    <button type="submit">Submit Comment</button>
</form>


